<%#
Copyright 2011-2018, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>

 <div class="custom-header" id="masthead">

  <div class="row">
    <div class="row-fluid whitespace-half">
    <header>

      <div class="col-sm-4 logo">
        <%= ualib_logo_link %>
          <%= link_to "ERA Home", "https://era.library.ualberta.ca", :class => "era-link" %>
      </div>

      <div class="mast-branding col-sm-4">
        <h2>education &amp; research archive</h2>
        <h1>ERA</h1>
        <h3><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>AUDIO <span class="plus-head">&plus;</span> VIDEO</h3>
      </div>

      <%# By default shift log in / log out to the header %>
      <div class="pull-right log-in-out">
        <%= render partial: "modules/user_util_dropdowns"%>
      </div>
    </header>
    </div>
  </div>

</div>
